body{
    background-image: url("../img/siteBackground.jpg");
}
#carouselExampleCaptions{
    width: 42vh;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 25%;
    bottom: 20%;
    opacity: 0;
	animation: fadeIn 1s ease-in both;
}
.carousel-caption{
    background-color: #00000091;
    border-radius: 8px;
}
.explanation{
    text-align: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}